<!DOCTYPE html>
<html>
    <head>
        <title>POSTAL ADDRESS SEARCH</title>
    </head>
    <body>
        <h1>SEARCH FOR ADDRESSES</h1>
        <p>Select Country</p>
        <select id ="ddlCountries" onchange = "ChangeAddressComponents()">
        </select>
        <p>Address Components: </p>
        <div id="componentTextBox"></div>
        <button onclick="SendPayload()">Find Addresses</button>
        <div id="addressResults"></div>

        <script type = "text/javascript">
            //get size of Object
            Object.size = function(obj) {
                var size = 0,
                key;
                for (key in obj) {
                    if (obj.hasOwnProperty(key)) size++;
                }
                return size;
            };

            var selectedCountry = '';

            function PopulateDropDown() {
                //Get countries list JSON object from API
                fetch('/countries')
                .then(function (response) {
                    return response.json();
                }).then(function (text) {
                    var countryList = text;
                    
                    var ddlCountries = document.getElementById("ddlCountries");
                    selectedCountry = countryList.countries[0];
                    var size = Object.size(countryList.countries);
                    //Add json list options to DropDownList
                    for (var i = 0; i < size; i++){
                        if( i == 0){
                            var opt = document.createElement('option');
                            opt.value = 0;
                            opt.innerHTML = "Select Country";
                            ddlCountries.add(opt)
                        }
                        var option = document.createElement('option');
                        option.value = i+1;
                        option.innerHTML = countryList.countries[i];
                        ddlCountries.options.add(option);
                }
                });
            }

            //On page load, populate the country drop down menu
            window.onload = PopulateDropDown;
        
            

            //When country is selected change to allow for only specific address components 
            function ChangeAddressComponents() {
                //Get selected item in dropdown
                
                var e = document.getElementById("ddlCountries");
                selectedCountry = e.options[e.selectedIndex].text;
                if(selectedCountry != "Select Country"){
                    //Go to API and get country components
                    fetch(`/addresscomponents/${selectedCountry}`)
                    .then(function (response) {
                        return response.json();
                    }).then(function (text) {
                        var addressComponentsList = text;

                        //Delete all old text boxes
                        const myNode = document.getElementById("componentTextBox");
                        myNode.innerHTML='';

                        //Add new text box for each address component
                        var numberOfComponents = Object.size(addressComponentsList['address components']);
                        for (var i = 0; i < numberOfComponents; i++){
                            //Create an input type dynamically
                            var element = document.createElement("input");

                            //Create labels
                            var label = document.createElement("Label");
                            label.innerHTML = addressComponentsList['address components'][i];

                            //Assign different attributes to the element. 
                            element.setAttribute("type", "text");
                            element.setAttribute("value", "");
                            element.setAttribute("style", "width:200px");

                            label.setAttribute("style", "font-weight:normal");

                            var textBoxes = document.getElementById("componentTextBox");

                            textBoxes.appendChild(label);
                            textBoxes.appendChild(element);
                            linebreak = document.createElement("br");
                            textBoxes.appendChild(linebreak);
                        }
                    });
                }
                else {
                    //Delete all old text boxes
                    const myNode = document.getElementById("componentTextBox");
                        myNode.innerHTML='';
                }
            }

            function SendPayload() {
                //create object based on address components and the information entered by user
                var componentTextBox = document.getElementById("componentTextBox");
                var inputs = document.getElementsByTagName("input");
                var labelInputs = document.getElementsByTagName("Label");
                
                let formData = new FormData();
                formData.append('country', selectedCountry);
                for (var i = 0; i < inputs.length; i++){
                    //If element not empty, add to json list
                    if (!inputs[i].value== "") {
                        formData.append(labelInputs[i].innerHTML, inputs[i].value);
                    }
                }

                //tap SearchAddress endpoint with that JSON object
                fetch(`/searchaddress`, {method : 'post', body:formData})
                .then(function (response) {
                    return response.json();
                }).then(function (text) {
                    var addressList = text;

                    //Delete old list of addresses and print new ones
                    var addressResponsesList = document.getElementById("addressResults");
                    addressResponsesList.innerHTML='';

                    //Create labels
                    var addressSearchResultListSize = Object.size(addressList[selectedCountry]);
                    
                    if (addressSearchResultListSize == 0 && selectedCountry != 'worldwide') {
                        var label = document.createElement("Label");
                        label.innerHTML = "NO ADDRESSES FOUND WITH THIS INFORMATION";
                        label.setAttribute("style", "font-weight:normal");
                        addressResponsesList.appendChild(label);
                    }
                    else if (selectedCountry == 'worldwide') {
                        //check for empty
                        if (Object.size(addressList) == 0) {
                            var label = document.createElement("Label");
                            label.innerHTML = "NO ADDRESSES FOUND WITH THIS INFORMATION";
                            label.setAttribute("style", "font-weight:normal");
                            addressResponsesList.appendChild(label);
                        }

                        //go through each country
                        for (var i = 0; i < Object.size(addressList); i++) {
                            for (var j = 0; j < Object.size(addressList[Object.keys(addressList)[i]]); j++) {
                                var label = document.createElement("Label");
                                label.innerHTML = addressList[Object.keys(addressList)[i]][j] + ', ' + Object.keys(addressList)[i];
                                label.setAttribute("style", "font-weight:normal");
                                addressResponsesList.appendChild(label);
                                linebreak = document.createElement("br");
                                addressResponsesList.appendChild(linebreak);
                            }
                        }
                    }

                    for (var i = 0; i < addressSearchResultListSize; i++) {
                        var label = document.createElement("Label");
                        label.innerHTML = addressList[selectedCountry][i];
                        label.setAttribute("style", "font-weight:normal");
                        addressResponsesList.appendChild(label);
                        linebreak = document.createElement("br");
                        addressResponsesList.appendChild(linebreak);
                    }
                });
            }
        
        </script>

    </body>
</html>